<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css"></link>
  </head>
  <body>

<%# 
1. Buat folder public, views, dan file index.js
2. Npm install express ejs body-parser
3. File challenge chapter 3 & 4 yang sebelumnya html menjadi ejs dan pindahkan ke folder views
4. Untuk css pindahkan ke folder public -> css -> file css (example styles.css)
5. Untuk header yang berisi link css dijadikan file tersendiri -> header.ejs
6. Import express, ejs (view engine), dan buat server (app.listen on port 3000 or 8000)
7. Routing masing-masing halaman
8. Buat user static pada halaman login 
%>

